compileREADME.txt
*~
*.o
*.a
*.lo
*.so
*.la
*.Po
*.Plo
sync
TBE
html/
latex/
*.m4
missing
*.tex
*.in
*.Plo
ar-lib
configure
bin/*
autom4te.cache/*
compile
config.guess
config.log
config.status
config.sub
install-sh
notes/
src/cfits
libtool
*.save
*#
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile

